@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    padding-top: 0;
    
  }
#hero {
    margin-top: 0px;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-weight: 500;
    text-decoration: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

#logo a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    font-weight: 700;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

#right-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#hero .container {
background-color: #1f2937;
  margin: 0px auto; /* Center the container */
  padding: 20px 150px 20px 150px;
  color: #f9faf8;
  width: 1200px; /* Set width to a fixed value */
  flex-shrink: 0;
  margin-bottom: 0;
}

#hero .container img {
  height: 250px;
  width: auto;
}
#main {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

#secondary {
    font-size :18px;
    color: #E5E7EB;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.body h1 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 5px;
}

.card {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 150px;
    padding: 10px;
    margin: 16px 20px;
  }
  
.card img {
    display: flex;
    align-items: center;
    width: 150px; /* Set width to a fixed value */
    height: 150px; /* Set height to the same fixed value to make it square */
    object-fit: cover; /* Ensure the image covers the entire area while maintaining aspect ratio */
    margin-bottom: 16px; /* Add space below the image */
    border: 3px solid #3882f6; /* Add border to the image */
    border-radius: 9px; /* Optional: Add border radius for rounded corners */
  }

  .card p {
    text-align: center; /* Center text */
    margin: 0; /* Remove default margin */
  }

  .quote {
    text-align: center;
    align-items: center;
    justify-content: center; 
    background-color: #E5E7EB;
    font-style: light italic; /* Italicize text */
    color: #1f2937;
    font-size: 36px;
    padding: 160px;
    width: 1180px;
    margin: 0 auto; /* Center the element horizontally */
    display: flex;
    flex-shrink: 0;
  }

  .quote span {
    font-weight: 1000;
    font-size: 20px;
    padding: 30px;
    float: right;
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
  }

  .signup {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    margin: 80px auto;
    padding: 35px;
    border-radius: 8px;
  }
  
  .signup div p {
    padding: 0; /* Remove padding from the inner divs */
    color: #E5E7EB;
}

.headercontent button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 35px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 33px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #ffffff;
}

.call {
    font-weight: 700;
    font-size: 24px;
    color: #f9faf8;
}

footer #hero {
    background-color: #1f2937;
    margin: 0px auto;
}
/* TODO: Add CSS for the footer */
/* change the quote to center */
/* put some real images in the cards */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 40px;
    font-size: 18px;
    font-weight: 500;
    margin: 0px auto;
    width: 1430px;
    margin-bottom: 0;
}
html , body{
  margin: 0;
  padding: 0;
  height: 90vh;
}
.body {
  min-height: 0; /* Prevent unnecessary overflow */
}